.root {
  --error-placeholder-color: #ffadad;
  margin-bottom: var(--spacing);
  position: relative;
}

.root select,
.root input {
  box-sizing: border-box;
}

.root select,
.root input,
.root textarea {
  width: 100%;
  background: var(--white);
  border: 1px solid var(--border-color);
  font-size: 14px;
  font-family: var(--primary-font-family);
  border-radius: 3px;
  padding: var(--spacing);
  outline: none;
  -webkit-appearance: none;
  transition: border-color 0.3s;
}

.root select:focus,
.root input:focus,
.root textarea:focus {
  border-color: var(--primary);
}

.root select::placeholder,
.root input::placeholder,
.root textarea::placeholder {
  color: var(--grey-100);
  opacity: 1;
}

.root textarea {
  padding: 10px;
  font-family: var(--primary-font-family);
  height: auto;
  line-height: 22px;
}

.error input,
.error textarea {
  border: 2px solid var(--error-red);
}

.errorText {
  color: var(--error-red);
  margin: 10px 0;
  font-size: 13px;
}

.error select,
.error input,
.error textarea {
  border-color: var(--error-red);
  background-color: var(--error-red-light);
}

.error select::placeholder,
.error input::placeholder,
.error textarea::placeholder {
  color: var(--error-placeholder-color);
}
