.root {
  --cc-button-solid-color: var(--primary);
  --cc-button-text-color: var(--white);

  background: var(--cc-button-solid-color);
  font-family: var(--primary-font-family);
  border-radius: 5px;
  color: var(--cc-button-text-color);
  padding: var(--spacing) var(--dbl-spacing);
  border: 2px solid transparent;
  font-size: 14px;
  transition: background-color 0.3s;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: block;
  text-align: center;
  position: relative;
}

.root:hover {
  background: var(--primary);
  color: var(--white);
}

.root:disabled {
  background: var(--primary-disabled);
}

.root:active {
  transform: scale(0.96);
}

.go {
  background: #2bb338;
}

.go:hover {
  background: #279231;
}

.inverse {
  background: transparent;
  border-color: var(--cc-button-solid-color);
  color: var(--cc-button-text-color);
}

.inverse:hover {
  background: var(--cc-button-solid-color);
  color: var(--cc-button-text-color);
}

.inverse:disabled {
  border-color: var(--primary-disabled);
  background: transparent;
  color: var(--primary-disabled);
}

.white {
  border-color: var(--white);
  background-color: transparent;
}

.white:hover {
  background: var(--white);
  color: var(--primary);
}
