.root {
  --cc-header-border-color: var(--border-color);
  border-bottom: 1px solid var(--cc-header-border-color);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
}
