@import 'vars';

.user-type-input {
  margin-bottom: 20px;
}

.button {
  padding: 15px;
  background: transparent;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 13px;
}

.active {
  background: var(--primary);
  color: $white;
}
